keras==2.7.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
keras2onnx @ git+https://github.com/onnx/keras-onnx@3b6da290c21bbbbf418577f3e2c528986a2965c5
matplotlib==3.2.2
numpy==1.19.5
onnx==1.8.1
onnx-simplifier==0.3.6
onnx-tf==1.9.0
onnx2keras==0.0.24
onnxconverter-common @ git+https://github.com/microsoft/onnxconverter-common@fc2a187db8d6a47acac57953b765eb357caa4a5b
onnxoptimizer==0.2.6
onnxruntime==1.10.0
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==1.1.5
pandas-datareader==0.9.0
pandas-gbq==0.13.3
pandas-profiling==1.4.1
pandocfilters==1.5.0
Pillow==7.1.2
pip-tools==6.2.0
python-apt==0.0.0
python-chess==0.23.11
python-dateutil==2.8.2
python-louvain==0.15
python-slugify==5.0.2
python-utils==2.5.6
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.4.1
sclblonnx==0.1.9
skl2onnx==1.10.3
sklearn==0.0
sklearn-pandas==1.8.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow @ file:///tensorflow-2.7.0-cp37-cp37m-linux_x86_64.whl
tensorflow-addons==0.15.0
tensorflow-datasets==4.0.1
tensorflow-estimator==2.7.0
tensorflow-gcs-config==2.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow-metadata==1.4.0
tensorflow-probability==0.15.0
tf2onnx==1.9.3


